In [29]:
# import libraries
import pandas as pd

In [30]:
#load data 
data = pd.read_csv("Data/card_transdata.csv")

In [31]:
data

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

We have 1000000 records of data for use.

In [32]:
#renaming columns names for simplicity
data.rename(columns = {'distance_from_home':'dist_f_home','distance_from_last_transaction':'dist_f_last_trans'})

,dist_f_home,dist_f_last_trans,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

 Will use 80% for training,20% for testing. Will take 20 records out of testing for demonstation.

In [33]:
#shuffles the data
data_shuffled = data.sample(frac=1,random_state= 50)


#percent of data used as test split
split_percent = 0.8



#get the index to split the data
total_rows = data.shape[0]
train_size = int(total_rows*split_percent)

#train and test data
train = data_shuffled.iloc[:train_size]
test = data_shuffled.iloc[train_size:]

In [34]:
train

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
945737,0.491089,7.779744,2.121038,0.0,1.0,0.0,1.0,0.0
852739,0.126181,3.970530,1.552483,0.0,1.0,0.0,1.0,0.0
776155,1.869991,0.151482,1.804444,0.0,0.0,0.0,1.0,0.0
542223,13.290477,1.295650,0.389154,1.0,0.0,0.0,1.0,0.0
728363,128.621568,0.028654,0.910323,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
470002,22.015117,10.395801,0.581979,1.0,0.0,0.0,1.0,0.0
305214,4.429420,0.127778,1.032126,1.0,0.0,0.0,1.0,0.0
444993,3.171650,15.414614,1.433952,1.0,0.0,1.0,1.0,0.0
446608,20.480566,15.132238,1.494043,1.0,1.0,0.0,0.0,0.0
143221,50.126005,0.038396,2.896471,1.0,0.0,0.0,1.0,0.0

In [35]:
test

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
543158,1.880605,0.285949,0.532518,0.0,1.0,0.0,1.0,0.0
90869,10.957813,1.797360,15.665324,1.0,0.0,0.0,1.0,1.0
53752,13.064408,4.366115,0.283263,1.0,1.0,0.0,1.0,0.0
651163,3.638811,0.427399,0.729624,1.0,0.0,0.0,1.0,0.0
671781,1.659697,13.140005,0.833232,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
441633,9.214598,11.997814,0.752263,1.0,1.0,0.0,1.0,0.0
677997,165.847514,1.707527,0.238962,1.0,0.0,0.0,1.0,1.0
239499,6.203416,2.240537,0.240108,1.0,0.0,1.0,1.0,0.0
103904,1.440871,3.985760,0.131841,0.0,0.0,0.0,1.0,0.0
931504,34.956244,15.901582,0.230555,1.0,1.0,1.0,0.0,0.0

In [39]:
app_test = test.iloc[:20]
test.drop(test.index[:20],inplace=True)

C:\Users\cajja\AppData\Local\Temp\ipykernel_42956\4037853475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.drop(test.index[:20],inplace=True)

In [42]:
app_test

app_test.to_csv('app_test_data.csv', index=False)

In [41]:
test

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
97201,12.377613,4.494125,1.303883,1.0,0.0,0.0,1.0,0.0
511078,7.497894,0.576066,3.157412,1.0,1.0,0.0,0.0,0.0
321639,76.707518,1.954241,0.269328,1.0,1.0,0.0,0.0,0.0
32496,22.921780,0.364255,1.972151,1.0,0.0,1.0,1.0,0.0
257629,0.784526,0.756796,0.488812,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
441633,9.214598,11.997814,0.752263,1.0,1.0,0.0,1.0,0.0
677997,165.847514,1.707527,0.238962,1.0,0.0,0.0,1.0,1.0
239499,6.203416,2.240537,0.240108,1.0,0.0,1.0,1.0,0.0
103904,1.440871,3.985760,0.131841,0.0,0.0,0.0,1.0,0.0
931504,34.956244,15.901582,0.230555,1.0,1.0,1.0,0.0,0.0

Data has been checked and "test" is the data that will be used for tesing, "train" for training, and "app_test" is the 20 records for the demonstration.